body{
    background-image: url(../images/bg-img.png);
    background-image: url(../images/bg-img.png);
    /* background-image: url(../images/bground.png); */
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    /* background-size: cover, cover; */
    /* background-position: center, center; */
    /* background-repeat: no-repeat, no-repeat; */
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-position-x: 0px; */
    /* background-position: right; */
    display: block;
    

}
p{
    margin: 0;
}
.info__href-but{
    display: none;
}
.main{
    display: flex;
    justify-content: space-between;
}
.info{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 40px;
    
}
.info__logo{
    align-self: baseline;
    margin: 0 auto;
}
.info__title{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    /* or 98px */
    
    text-transform: uppercase;
    padding-top: 7vh;
    color: white;  
    margin: 0;
    padding-bottom: 3vh;
    text-align: center;
    z-index: 1;
}
.info_paragraph{
    font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 23px;
line-height: 144%;
max-width: 600px;
/* or 37px */

text-transform: uppercase;
padding-bottom: 15px;
color: #FFFFFF;
}
.info__text{
    font-family: 'Jost';
font-style: normal;
font-weight: 800;
font-size: 50px;
line-height: 112%;
color: white;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
    max-width: 700px;
}
.info__href{
    font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: center;
max-width: 921px;
/* identical to box height */

text-decoration-line: underline;
margin: 0 auto;
color: #FFFFFF;
z-index: 1;
}
.rega__text{
    padding-right: 63px;
}
.info__button{
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    
    width: 300px;
    background: radial-gradient(180.45% 180.45% at 50% 8.64%, rgba(254, 95, 114, 0.7) 0%, rgba(121, 0, 0, 0) 100%), #FF2E47;
box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.25);
border-radius: 100px;
    color: white;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    line-height: 112%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 18px 55px;
    animation: rotate 1.4s linear infinite;
    border-style: none;
    margin:  0 auto;
    margin-top: 7vh;
    margin-bottom: 17px;
    z-index: 1;
    

    background: radial-gradient(180.45% 180.45% at 50% 8.64%, rgba(254, 95, 114, 0.7) 0%, rgba(121, 0, 0, 0) 100%), #FF2E47;
    box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.info__button:hover{
    background: linear-gradient(0deg, #FF001F, #FF001F), radial-gradient(180.45% 180.45% at 50% 8.64%, rgba(255, 1, 47, 0.7) 0%, rgba(255, 0, 0, 0.7) 100%);
box-shadow: 0px 4.20233px 7.5642px rgba(0, 0, 0, 0.25);
}
.info__img-2{
    display: none;
}
.info__button-sign{
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    
    background-color: transparent;
    border-style: none;
    
    border-radius: 30px;
    color: white;
    font-family: 'Jost';
font-style: normal;
font-weight: 800;
font-size: 27.3418px;
line-height: 129%;
    text-transform: uppercase;
    background-color: #FF2E47;
    padding: 6px 0;
    width: 208px;
    
    margin: 0 auto;
    margin-top: 5vh;
    margin-right: 12px;
}
.info__button-sign:hover{
    background: linear-gradient(0deg, #FF001F, #FF001F), radial-gradient(180.45% 180.45% at 50% 8.64%, rgba(255, 1, 47, 0.7) 0%, rgba(255, 0, 0, 0.7) 100%);
    box-shadow: 0px 4.20233px 7.5642px rgba(0, 0, 0, 0.25);
}
.info__button-log{
    text-align: center;
    text-decoration: none;
    font-family: 'Poppins';
    
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-radius: 30px;
    color: white;
    font-family: 'Jost';
font-style: normal;
font-weight: 800;
font-size: 27.3418px;
line-height: 112%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 6px 0;
    width: 208px;
    
    
    margin: 0 auto;
    margin-top: 5vh;
}
.info__button-log:hover{
    color: #FF001F;
    border-color: #FF001F;
}
.info__href:hover{
    color: #FF001F;
}
.info__href-but:hover{
    color: #FF001F;
}
.rega__text{
    display: flex;
}
@-webkit-keyframes rotate {
    0% {
      -webkit-transform: scale(0.94);
      transform: scale(0.94);
    }
  
    50% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    100% {
      -webkit-transform: scale(0.94);
      transform: scale(0.94);
    }
  }
.info__img{
    height: 90vh;
    /* padding-top: 41px; */
    position: fixed;
    /* top: 0; */
    bottom: 0;
    right: 0;
}
.info__span{
    background-color: #1C5FFF;
    
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    text-align: center;
}
.span__text{
    font-weight: 600;
}
@media screen and (max-width: 1400px) { 
    .info__img{
        height: 79vh;
       
    }
    .info__text{
        font-size: 42px;
    }
    .info__title{
        font-size: 53px;
    }
    .info{
        max-width: 675px;
    }
}
@media screen and (max-width: 1200px) { 
    

    .main{
    
    }
    .info{
        
    }
    .info__logo{
        display: block;
    margin: 0 auto;
    width: 300px;
    }
    .info__title{
        font-size: 35px;
        max-width: 500px;
        margin: 0 auto;
        padding-top: 11vh;
        padding-bottom: 2vh;
    }
    .info__button {
        display: block;
        margin: 0 auto;
        font-size: 34px;
        margin-bottom: 17px;
        line-height: 78%;
    }
    .info__img{
        
    }
    .info_paragraph{
        font-size: 19px;
        max-width: 500px;
        line-height: 155%;
    }
    .info__span{
        
        width: 28px;
        height: 28px;
        
    }
    .info__text{
        font-size: 34px;
        padding-bottom: 11vh;
    }
    .info__text {
        padding-bottom: 3vh;
    }
    .info__button-sign{
        font-size: 21px;
        width: 185px;
    }
    .info__button-log{
        font-size: 21px;
        width: 185px;
    }
  }

  @media screen and (max-width: 600px) { 
    .rega__text{
        margin-top: 0px;
    }
    .info__img{
        display: none;
    }
    .info__img-2{
        display: inline;
    position: absolute;
    bottom: 0;
    height: 56vh;
    margin: auto;
    position: absolute;
    /* top: 0; */
    left: 0;
    bottom: 0;
    right: 0;
    }
    .info__href{
        display: none;
    }
    .info__href-but{
        display: inline;
        font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height */

text-decoration-line: underline;

color: #FFFFFF;
padding-top: 16px;
z-index: 1;
    }
    .rega__text{
        margin-top: 36vh;
    z-index: 1;
    }
    .info__button{
        z-index: 1;
    }
    .info__button-log{
        width: 124px;
        font-size: 16.2025px;
        margin-top: 6vh;
        padding: 9px 0px;
    }
    .info__button-sign{
        width: 124px;
        padding: 9px 0px;
        font-size: 16.2025px;
    margin-top: 6vh;
    }
    .info{
        padding-top: 40px;
    }
    .info__logo{
        display: block;
    margin: 0 auto;
    width: 191px;
    }
    .info__title{
        font-size: 25px;
        max-width: 328px;
        margin: 0 auto;
        padding-top: 3vh;
        padding-bottom: 1vh;
    }
    .info__text {
        padding-bottom: 3vh;
    }
    .info__text{
        font-size: 25px;
        max-width: 350px;
    }
    .info__button{
        display: block;
    margin: 0 auto;
    margin-top: 20px;
    }
    .info__img{
        height: 39vh;
     padding-top: 0;
    padding-bottom: 10px;
    }
    .info_paragraph{
        font-size: 14px;
        max-width: 330px;
    }
    .info__span{
        
        width: 20px;
        height: 20px;
        
    }
    .info__button{
        width: 133px;
        display: block;
    margin: 0 auto;
    font-weight: 500;
font-size: 13px;
line-height: 102%;
/* or 13px */
padding: 11px 33px;
text-transform: uppercase;

color: #FFFFFF;
    }
    .info__href{
        display: none;
    }
    .info__href-but{
        display: inline;
    }
  }
  @media screen and (max-width: 900px) { 
    /* .info__img{
        display: none;
    }
    .info__img-2{
        display: inline;
    position: absolute;
    bottom: 0;
    height: 56vh;
    margin: auto;
    position: absolute;
    
    left: 0;
    bottom: 0;
    right: 0;
    }
    .rega__text{
        margin-top: 36vh;
    z-index: 1;
    }
 */
    .main{
    flex-direction: column;
    /* margin: 0 auto; */
    text-align: center;
    align-items: center;
    }
    .info__img{
        position: static;
        height: 40vh;
    }
    .rega{
        display: flex;
    flex-flow: column-reverse;
    
        margin-top: -40px;
    
    }
    .info__title{
        
        padding-top: 5vh;
        
    }
    .info__text{
        padding-bottom: 5vh;
    }
    .info{
        padding-left: 0;
    }
    .rega__text {
        padding-right: 0;
    }
    .info__button{
        padding: 15px 15px;
    }
}

  @media screen and (max-width: 460px) { 
    .info__href{
        display: none;
    }
    .info__title{
        font-size: 21px;
        
    }
    .info__title {
        padding-top: 3vh;
        max-width: 186px;
    }
    .info_paragraph{
        font-size: 12px;
        max-width: 236px;
    }
    .info__text{
        padding-bottom: 3vh;
        font-size: 22px;
    max-width: 298px;
    }
    .info__href-but{
        display: inline;
        font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 11px;
line-height: 16px;
/* identical to box height */

text-decoration-line: underline;

color: #FFFFFF;
padding-top: 16px;
z-index: 1;
    }
    .info__img{
        display: none;
    }
    .info__img-2{
        display: inline;
    position: absolute;
    bottom: 0;
    height: 56vh;
    margin: auto;
    position: absolute;
    /* top: 0; */
    left: 0;
    bottom: 0;
    right: 0;
    }
    .rega__text{
        margin-top: 36vh;
    z-index: 1;
    }
    .info__button{
        z-index: 1;
        font-size: 25px;
        padding: 7px 25px;
    }
    .info__button-log{
        width: 124px;
        font-size: 16.2025px;
        margin-top: 7vh;
        padding: 9px 0px;
    }
    .info__button-sign{
        width: 124px;
        padding: 9px 0px;
        font-size: 16.2025px;
    margin-top: 7vh;
    }
    
}